.Zeitleiste {

  width: 70%;
  height: 2em;

  display: flex;
  flex-direction: row;
  justify-content: center;

  align-items: center;
  text-align: center;
}

.Zeitleiste:hover {
  transform: scale(1.02);
}

.Frame {

  height: 70%;

  color: white;
  text-align: center; 
  background-color: black;
}

.FrameActive {

  height: 100%;

  color: white;
  text-align: center; 
  background-color: white;

  border-style: solid;
  border-width: 0.2em;
  border-color: black;
}